$bg-none: transparent
$bg-overlay: rgba(0, 0, 0, 0.2)
$bg-dark: rgb(54, 57, 63)
$bg-darker: rgb(47, 49, 54)
$bg-darkest: rgb(32, 34, 37)
$bg-blue: rgb(114, 137, 218)
$bg-bluer: rgb(94, 119, 212)
$bg-shadow: rgba(32, 34, 37, 0.5)
$bg-input: rgb(64, 68, 75)
$bg-selection: rgb(179, 195, 255)

$color-light: rgb(142, 146, 151)
$color-lighter: rgb(220, 221, 222)
$color-lightest: rgb(255, 255, 255)
$color-link: rgb(0, 176, 238)
$color-icon: rgb(185, 187, 190)
$color-border: rgb(32, 34, 37)
$color-error: rgb(228, 103, 103)

$border: 1px solid $color-border
$border-active: 1px solid rgb(220, 221, 222)
$border-error: 1px solid $color-error
$border-none: 1px solid transparent
$shadow: 0 0.25rem 0.4rem $bg-shadow

$font-lg: 1.75rem
$font-md: 1.25rem
$font-sm: 1rem
$font-xl: 3rem
$font-xs: 0.75rem 